flask==2.3.3
youtube-transcript-api==0.6.2
langchain-community==0.2.5
langchain-groq==0.1.5
faiss-cpu==1.8.0
tiktoken==0.7.0
python-dotenv==1.0.1
sentence-transformers==3.0.1
numpy==1.26.4
Flask-Session==0.5.0
Flask-CORS==4.0.1